In [1]:
import selenium
from selenium import webdriver
import time
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"E:\cromedriver\chromedriver.exe")

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos' # Opening the URL
driver.get(url)
time.sleep(2)

In [4]:
rank = []            #Empty List for all the data I want to extract
name=[]
artist =[]
date=[]
views=[]

In [5]:
ran=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')   #Xpath of the element, what I want to extract.
nam=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
art=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
dat=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
vie=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')

In [6]:
for i in ran:
    rank.append(i.text)           #Appening the text data, in the webelements
for j in nam:
    name.append(j.text)
for k in art:
    artist.append(k.text)
for l in dat:
    date.append(l.text)
for m in vie:
    views.append(m.text)

In [7]:
print(len(rank))                    #Printing the length of the data
print(len(name))                 
print(len(artist))
print(len(date))
print(len(views))

30
30
30
30
30

In [8]:
df = pd.DataFrame({'Rank':rank,                              
                 'Name':name,
                 'Artist':artist,
                 'Date':date,
                 'Views':views})
df

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.95
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.90
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.39
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.76
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.57
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.51
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.72
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.63
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.59
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.48
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.20
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.98
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.72
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.61
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.61
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.56
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.47
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.42
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.31
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.31
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.30
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.29
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.26
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.23
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.23
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.20
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.19
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.10

Ques. 2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

In [9]:
url1 = 'https://www.bcci.tv/'              #Opening the URL
driver.get(url1)

In [10]:
international = driver.find_element_by_xpath('/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')#Clicking on international, SO that I can reach on the required page, from where I have to extract the data.
international.click()

In [11]:
try:
    for page in range(200):                           #Scrolling the page down and opening till the end of the page, So that I can extract all the details of the page.
        driver.execute_script("window.scrollBy(0,100)")
        more = driver.find_element_by_xpath('//div[@class="col-lg-12 col-md-12 col-sm-12"]/button')
        more.click()
except:
    pass

In [12]:
series = []             # Giving the empty list for all the coloumn, what all I want to extract
odi = [] 
date = []
time = []
place = []
     
ser = driver.find_elements_by_xpath('//h5[@class="fix-text"][2]/span')            #Giving the xpath of the required data what I want to extract
od = driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]/span[1]')
da = driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')
ti = driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]')
pla = driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]/span[2]')

for i in ser:
    series.append(i.text)                    # Appending the text data
for j in od:
    odi.append(j.text.replace('-',''))
for k in da:
    date.append(k.text)
for l in ti:
    time.append(l.text)
for m in pla:
    place.append(m.text)
    
print(len(series))            # Printing the length of the all the data what, I have extracted
print(len(odi))
print(len(date))
print(len(time))
print(len(place))

8
8
8
8
8

In [17]:
df2 = pd.DataFrame({'time':time,
                   'Date':date,
                   'series':series,'odi':odi,'series':series})
        
                   
                   
df2

,time,Date,series,odi
0,3:00 AM PDT,17 JUL 2022,INDIA TOUR OF ENGLAND ODI SERIES 2022,3rd ODI
1,6:30 AM PDT,22 JUL 2022,INDIA TOUR OF WEST INDIES ODI SERIES 2022,1st ODI
2,6:30 AM PDT,24 JUL 2022,INDIA TOUR OF WEST INDIES ODI SERIES 2022,2nd ODI
3,6:30 AM PDT,27 JUL 2022,INDIA TOUR OF WEST INDIES ODI SERIES 2022,3rd ODI
4,7:30 AM PDT,29 JUL 2022,INDIA TOUR OF WEST INDIES T20 SERIES 2022,1st T20I
5,7:30 AM PDT,1 AUG 2022,INDIA TOUR OF WEST INDIES T20 SERIES 2022,2nd T20I
6,7:30 AM PDT,2 AUG 2022,INDIA TOUR OF WEST INDIES T20 SERIES 2022,3rd T20I
7,7:30 AM PDT,6 AUG 2022,INDIA TOUR OF WEST INDIES T20 SERIES 2022,4th T20I

Ques. 3 Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

In [14]:
url2 = 'https://www.guru99.com/'  # Giving the URL
driver.get(url2)

In [19]:
selenium = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button')
selenium.click()

In [20]:
exception = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table')      #Clicking on the required element, So, that I can reach to the page from where I have to extract the data.
exception.click()

In [21]:
name = []               # Giving the empty list
description = []

In [28]:
nam = driver.find_elements_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]')      #Giving the Xpath   
des = driver.find_elements_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[2]/div/ul[1]')

In [29]:
for i in nam:
    name.append(i.text)                 #Appending the text data
for j in des:
    description.append(j.text)
print(len(name))                #Printing the length
print(len(description))

2
2

In [30]:
print(len(nam))

1

In [31]:
df3 = pd.DataFrame({'Name':name,'Description':description})
df3

,Name,Description
0,TESTING\n➤ Software Testing\n➤ QTP (Quick Test...,SAP\n➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\...
1,➤ Software Testing\n➤ QTP (Quick Test Professi...,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...

Ques 4 Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP

D) GSDP

E) Share

F) GDP($ billion)

In [33]:
url3 = 'http://statisticstimes.com/'   #Giving the URL
driver.get(url3)

In [36]:
economy = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')       #Giving the Xpath
economy.click()

india = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()
gdp = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/ul/li[2]/a')
gdp.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[2]/div[2]/div[1]/ul/li[2]/a"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00CB6463+2188387]
	Ordinal0 [0x00C4E461+1762401]
	Ordinal0 [0x00B63D78+802168]
	Ordinal0 [0x00B91880+989312]
	Ordinal0 [0x00B91B1B+989979]
	Ordinal0 [0x00BBE912+1173778]
	Ordinal0 [0x00BAC824+1099812]
	Ordinal0 [0x00BBCC22+1166370]
	Ordinal0 [0x00BAC5F6+1099254]
	Ordinal0 [0x00B86BE0+945120]
	Ordinal0 [0x00B87AD6+948950]
	GetHandleVerifier [0x00F571F2+2712546]
	GetHandleVerifier [0x00F4886D+2652765]
	GetHandleVerifier [0x00D4002A+520730]
	GetHandleVerifier [0x00D3EE06+516086]
	Ordinal0 [0x00C5468B+1787531]
	Ordinal0 [0x00C58E88+1805960]
	Ordinal0 [0x00C58F75+1806197]
	Ordinal0 [0x00C61DF1+1842673]
	BaseThreadInitThunk [0x7642DEA4+36]
	RtlInitializeCriticalSectionAndSpinCount [0x770F00BE+670]
	RtlInitializeCriticalSectionAndSpinCount [0x770F008D+621]

In [37]:
rank = []              #Giving the empty list for all the coloumnns, what all I want to extract
state = []
gsdp_19_20 = []
gsdp_18_19 = []
share = []
gdp = []
gsdp2_19_20 = []
gsdp2_18_19 = []

In [38]:
ran = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[1]')            #Giving the Xpath
sta = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[2]')
gs1 = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[3]')
gs2 = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[4]')
sha = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[5]')
gd = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[6]')
gs3 = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[7]')
gs4 = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//td[8]')

In [39]:
for i in ran:
    rank.append(i.text)                               #Appending the text data.
for j in sta:
    state.append(j.text)
for k in gs1:
    gsdp_19_20.append(k.text)
for l in gs2:
    gsdp_18_19.append(l.text)
for m in sha:
    share.append(m.text)
for n in gd:
    gdp.append(n.text)
for o in gs3:
    gsdp2_19_20.append(o.text)
for p in gs4:
    gsdp2_18_19.append(p.text)
    
print(len(rank))                             #Printing the length of all the data, what all I have extracted
print(len(state))
print(len(gsdp_19_20))
print(len(gsdp_18_19))
print(len(share))
print(len(gdp))
print(len(gsdp2_19_20))
print(len(gsdp2_18_19))

17
17
17
17
17
17
17
17

In [40]:
df4 = pd.DataFrame({'Rank':rank,
                   'State':state,
                   'GSDP(Cr INR at Current prices)(19-20)':gsdp_19_20,
                  'GSDP(Cr INR at Current prices)(18-19)':gsdp_18_19,
                  'Share':share,
                   'GDP($billion)':gdp,
                   'GSDP(Cr INR at 2011-12 prices)(19-20)':gsdp2_19_20,
                   'GSDP(Cr INR at 2011-12 prices)(18-19)':gsdp2_18_19})
df4

,Rank,State,GSDP(Cr INR at Current prices)(19-20),GSDP(Cr INR at Current prices)(18-19),Share,GDP($billion),GSDP(Cr INR at 2011-12 prices)(19-20),GSDP(Cr INR at 2011-12 prices)(18-19)
0,2020-21,"13,512,740","12,453,430","13,384,612","11,745,872","19,745,670","17,915,167","19,561,348"
1,2019-20,"14,569,268","13,271,471","14,427,632","12,681,246","20,351,013","18,461,343","20,157,899"
2,2018-19,"14,003,316","12,744,203","13,850,857","12,240,380","18,886,957","17,161,213","18,684,632"
3,2017-18,"13,144,582","12,034,171","12,998,695","11,508,774","17,090,042","15,505,665","16,905,230"
4,2016-17,"12,308,193","11,328,285","12,163,619","10,782,092","15,391,669","13,965,200","15,077,384"
5,2015-16,"11,369,493","10,491,870","11,234,571","9,963,681","13,771,874","12,574,499","13,612,095"
6,2014-15,"10,527,674","9,712,133","10,402,987","9,224,343","12,467,959","11,504,279","12,320,529"
7,2013-14,"9,801,370","9,063,649","9,679,027","8,578,417","11,233,522","10,363,153","11,093,638"
8,2012-13,"9,213,017","8,546,275","9,104,662","8,094,001","9,944,013","9,202,692","9,827,250"
9,2011-12,"8,736,329","8,106,946","8,659,505","7,742,330","8,736,329","8,106,946","8,659,505"
10,2010-11,"8,301,235","7,704,514","8,211,816","7,373,384","7,634,472","7,083,671","7,552,665"
11,2009-10,"7,651,078","7,131,836","7,606,319","6,837,719","6,366,407","5,974,906","6,328,407"
12,2008-09,"7,093,403","6,674,215","7,052,191","6,358,644","5,514,152","5,172,838","5,481,229"
13,2007-08,"6,881,007","6,398,295","6,852,740","6,219,065","4,898,662","4,490,188","4,878,150"
14,2006-07,"6,391,375","5,958,367","6,342,389","5,770,565","4,254,629","3,904,895","4,221,395"
15,2005-06,"5,914,614","5,514,228","5,872,936","5,351,624","3,632,125","3,326,914","3,606,009"
16,2004-05,"5,480,380","5,092,503","5,442,938","4,967,090","3,186,332","2,904,299","3,163,957"

Ques. 5 Scrape the details of trending repositories on Github.com.
Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [45]:
url4 = 'https://github.com/'       #Giving the URL
driver.get(url4)

In [52]:
#Clicking on explore button then on trending, So that I can lend to the required page, From where I have to extract the data.

explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[1]/a')
explore.click()

trending = driver.find_element_by_xpath('/html/body/div[4]/main/div[1]/nav/div/a[3]')
trending.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00CB6463+2188387]
	Ordinal0 [0x00C4E461+1762401]
	Ordinal0 [0x00B63C40+801856]
	Ordinal0 [0x00B92873+993395]
	Ordinal0 [0x00B88613+951827]
	Ordinal0 [0x00BAC7DC+1099740]
	Ordinal0 [0x00B87FF4+950260]
	Ordinal0 [0x00BAC9F4+1100276]
	Ordinal0 [0x00BBCC22+1166370]
	Ordinal0 [0x00BAC5F6+1099254]
	Ordinal0 [0x00B86BE0+945120]
	Ordinal0 [0x00B87AD6+948950]
	GetHandleVerifier [0x00F571F2+2712546]
	GetHandleVerifier [0x00F4886D+2652765]
	GetHandleVerifier [0x00D4002A+520730]
	GetHandleVerifier [0x00D3EE06+516086]
	Ordinal0 [0x00C5468B+1787531]
	Ordinal0 [0x00C58E88+1805960]
	Ordinal0 [0x00C58F75+1806197]
	Ordinal0 [0x00C61DF1+1842673]
	BaseThreadInitThunk [0x7642DEA4+36]
	RtlInitializeCriticalSectionAndSpinCount [0x770F00BE+670]
	RtlInitializeCriticalSectionAndSpinCount [0x770F008D+621]

In [48]:
title = []                # Giving the empty list
description = []
contributer = []

In [49]:
soup=BeautifulSoup(driver.page_source,'html.parser')         #Used the concept of BeautifulSoup, and extracted the data.
t = soup.find_all('h1',attrs={'h3 lh-condensed'})
d = soup.find_all('article',attrs={'Box-row'})
c = soup.find_all('div',attrs={'f6 color-fg-muted mt-2'})

In [50]:
for i in t:                                                 #used for loop, So that all the data what I have extracted in, It can be converted into text,as I have done below.
    try:                                                    #used try and except method. So, that where No data is present, I can mention, "No details available"
        title.append(i.find('span').text.strip('\n'))       #Appending the text data
    except AttributeError:
        title.append("No details available")
for j in d:
    try:
        description.append(j.find('p').text.split('\n')[-2])
    except AttributeError:
        description.append("No details available")
for k in c:
    try:
        contributer.append(k.find('a').text)
    except AttributeError:
        contributer.append("No details available")

print(len(title))                                      #Printing the length 
print(len(description))
print(len(contributer))

0
4
0

In [51]:
urls = []                 #Giving the empty list for the URL's

links = driver.find_elements_by_xpath('/html/body/div[4]/main/div[1]/nav/div/a[3]')         #Giving the Xpath for each repositories

for url in links:
    urls.append(url.get_attribute('href'))          #Extracting the url's for the repositories.              
urls

[]

In [53]:
repository_title = []                    #Giving the Empty List
repository_description = []
contributors_count = []
language_used = []

for i in urls:
    driver.get(i)                        #Iterating into each URl's and extracting the required data.
    time.sleep(3)
    try:
        title = driver.find_element_by_xpath('//h1[@class=" d-flex flex-wrap flex-items-center wb-break-word f3 text-normal"]/span[1]')
        repository_title.append(title.text.replace('\n',''))             #Appending the text data and Replacing the unrequired data
    except NoSuchElementException:
        repository_title.append('-')                         #Used try and except. So, that in case, I data is not there then also our code get's executed without giving error.
        
    time.sleep(1)
    try:
        descrip = driver.find_element_by_xpath('//div[@class="BorderGrid-cell"]//p')
        repository_description.append(descrip.text.replace('\n',''))
    except NoSuchElementException:
        repository_description.append('-')

    time.sleep(1)
    try:
        count = driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        contributors_count.append(count.text)
        
    except NoSuchElementException:
        contributors_count.append('-')
    time.sleep(1)
    try:
        lang = driver.find_element_by_xpath('//li[@class="d-inline"]//a//span')
        language_used.append(lang.text.replace('\n',''))
    except NoSuchElementException:
        language_used.append('-')

In [54]:
github = pd.DataFrame({})
github['repository_title'] = repository_title
github['repository_description'] = repository_description
github['contributors_count']  = contributors_count
github['language_used'] = language_used
github

Empty DataFrame
Columns: [repository_title, repository_description, contributors_count, language_used]
Index: []

Ques. 6 Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

In [72]:
url5 = 'https:/www.billboard.com/'     # giving the url
driver.get(url5)

In [76]:
#Clicking on 'hot' button
hot = driver.find_element_by_xpath('/html/body/div[3]/div[6]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/input[1]')
hot.click()

In [77]:
songs = []       #Giving the empty list for all the coloumns, what all I want to extract.
artists = []
last = []
peak = []
board = []

song = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]//h3')    #Giving the xpath for all the columns, what all I want to extract.
art = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[1]//span[1]')
las = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[4]')
pea = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[5]')
boa = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[6]')

for i in song:
    songs.append(i.text)
for j in art:
    artists.append(j.text)
for k in las:
    last.append(k.text)
for l in pea:
    peak.append(l.text)
for m in boa:
    board.append(m.text)

print(len(songs))       #Printing the length for all the columns.
print(len(artists))
print(len(last))
print(len(peak))
print(len(board))

0
0
0
0
0

In [78]:
df6 = pd.DataFrame({'Songs':songs,
                   'Artist':artists,
                   'Last Week Rank':last,
                   'Peak rank':peak,
                   'Weeks on board':board})
df6

Empty DataFrame
Columns: [Songs, Artist, Last Week Rank, Peak rank, Weeks on board]
Index: []

Ques. 7 Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/data-collection-recruiters

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they

In [66]:
url6 = 'https://www.naukri.com/data-collection-recruiters'  #Giving the url
driver.get(url6)

In [67]:
search = driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input') #Giving the xpath for the search button
search.clear()
search.send_keys('Data Scientist')              #sending the data to be typed in the search box.

searchh = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/div/form/div[1]/button')   #Clicking on the 'Search' button.
searchh.click()

In [68]:
searchh = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/div/form/div[1]/button')   #Clicking on the 'Search' button.
searchh.click()

In [69]:
name = []           #Giving the empty list
designation = [] 
company = []
skills = []

nam = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a/span')     #Giving the Xpath for all the columns
desi = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/span[1]')
comp = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a[2]')
skill = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[2]')

for i in nam:                  
    name.append(i.text)                                 #Iterating the text data
for j in desi:
    designation.append(j.text)
for k in comp:
    company.append(k.text)
for n in skill:
    skills.append(n.text)

print(len(name))                                #Printing the length of the data
print(len(designation))
print(len(company))
print(len(skills))

50
50
50
50

In [70]:
# Used the concept of BeautifulSoup, So that I can use try and except method, As in selenium try and except was not working properly. 
location=[]            
soup=BeautifulSoup(driver.page_source,'html.parser')      #Gave the page source
l=soup.find_all('div',attrs={'vcard'})                    #Gave the class name and the attribute name
for i in l:
    try:                                         #Used Try and except method
        location.append(i.find('small').text)              #Appending the text data
    except AttributeError :
        location.append("No details available")
print(len(location))

50

In [71]:
df7 = pd.DataFrame({'Name':name,
                   'Designation':designation,
                   'Company':company,
                   'Skills Needed':skills,
                   'Location':location})
df7

,Name,Designation,Company,Skills Needed,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
8,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
9,Balaji Prabhakaran,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
10,Shiva Kumar N,Founder,Rapid Talent Solutions -9148242334,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Anoop Somarajan,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
14,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
15,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
16,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
17,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
18,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
19,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
20,Shefali Gupta,Recruitment Consultant,HUNTINGCUBE RECRUITMENT SOLUTIONS PRIVATE...,"Java, Python, Ror, Nodejs, React.js, Angularjs...",Noida
21,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
22,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
23,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
24,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
25,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
26,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Sai Siddharth Chinta,Technical Recruiter,McKinsey &amp; Company,Not Specified,Bengaluru / Bangalore
31,Ishu Kumar,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
32,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
33,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
34,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
35,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",No details available
36,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Mumbai
37,Nagendla Syam Kumar,Data Scientist,FLOWERHORN IT PVT LTD,"Machine Learning, NLP, Performance Review, HR,...",Bengaluru / Bangalore
38,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Bengaluru / Bangalore
39,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
40,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Hyderabad / Secunderabad
41,Sudipta Samanta,Founder,DataNnoviteSol LLP,Not Specified,Pune
42,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
43,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Bengaluru / Bangalore
44,navya neluri,Data Scientist,asens labs,Not Specified,Hyderabad / Secunderabad
45,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Pune
46,Shreya Naithani,Talent Acquisition Executive,Purplejack Labs Pvt. Ltd.,"Node.js, React.js, Etl Testing, Data Warehousi...",Mumbai
47,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Bengaluru / Bangalore
48,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Hyderabad / Secunderabad
49,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad

Ques. 8 Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [63]:
url7 = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'   #Giving the Url
driver.get(url7)

In [64]:
title = []           #Giving the empty list for all the coloumns, what all I want to extract.
author = []
volume = []
publisher = []
genre = []

tit = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[2]')     #Giving the xpath
aut = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[3]')
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[4]')
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[5]')
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]//tbody//tr//td[6]')

for i in tit:
    title.append(i.text)                                           #Appending the text data
for j in aut:
    author.append(j.text)
for k in vol:
    volume.append(k.text)
for l in pub:
    publisher.append(l.text)
for m in gen:
    genre.append(m.text)
    
print(len(title))                                          #Printing the length of all the columns.
print(len(author))
print(len(volume))
print(len(publisher))
print(len(genre))

100
100
100
100
100

In [65]:
df8 = pd.DataFrame({'Book name':title,
                   'Author name':author,
                   'Volumes sold':volume,
                   'Publisher':publisher,
                   'Genre':genre})
df8

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Ques. 9 Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [60]:
url8 = 'https://www.imdb.com/list/ls095964455'      #Giving the url
driver.get(url8)

In [61]:
name = []                             #Giving the empty list for all the columns, what all I want to extract
year = []
genre = []
time = []
ratings = []
votes = []

nam = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/a')            #Giving the Xpath
yea = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/h3/span[2]')
gen = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[5]')
tim = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[3]')
rat = driver.find_elements_by_xpath('//div[@class="ipl-rating-widget"]/div/span[2]')
vot = driver.find_elements_by_xpath('//p[@class="text-muted text-small"][3]/span[2]')

for i in nam:
    name.append(i.text)                               #Iterating the text data from the data what I have extracted.
for j in yea:
    year.append(j.text)
for k in gen:
    genre.append(k.text)
for l in tim:
    time.append(l.text)
for m in rat:
    ratings.append(m.text)
for n in vot:
    votes.append(n.text)

print(len(name))                                     #Printing the length of the data
print(len(year))
print(len(genre))
print(len(time))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [62]:
df9 = pd.DataFrame({'Name':name,
                   'Year':year,
                   'Genre':genre,
                   'Run Time':time,
                   'Ratings':ratings,
                   'Votes':votes})
df9

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,009,142"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,089,415"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"955,042"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"285,502"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"245,173"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,092"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,889"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"192,216"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,588"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"231,185"

Quesn. 10 Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

In [56]:
url9 = 'https://archive.ics.uci.edu/'      #Giving the url
driver.get(url9)

In [57]:
#Clicking on 'View' button
view = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
view.click()

In [58]:
name = []                 #Giving the empty list for all the columns, what all I want to extract.
typee = []
task = []
attribute = []
instances = []
attributes = []
year = []

nam = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')     #Giving the Xpath
typ = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
tas = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
inst = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
yea = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')

for i in nam[1:]:                               #Used the concept of indexing to extract the desired data
    name.append(i.text)                         #Appending the text data
for j in typ[1:]:
    typee.append(j.text)
for k in tas[1:]:
    task.append(k.text)
for l in attri[1:]:
    attribute.append(l.text)
for m in inst[1:]:
    instances.append(m.text)
for n in attri[1:]:
    attributes.append(n.text)
for o in yea[1:]:
    year.append(o.text)
    
print(len(name))                          #Printing the length for all the columns
print(len(typee))
print(len(task))
print(len(attribute))
print(len(instances))
print(len(attributes))
print(len(year))

622
622
622
622
622
622
622

In [59]:
df10 = pd.DataFrame({'Name':name,
                    'Data Types':typee,
                    'Default Task':task,
                    'Attribute Types':attribute,
                    'Number of Instances':instances,
                    'Number of Attributes':attributes,
                    'Year':year})
df10

,Name,Data Types,Default Task,Attribute Types,Number of Instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,8,4177,8,1995
1,Adult,Multivariate,Classification,14,48842,14,1996
2,Annealing,Multivariate,Classification,38,798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,294,37711,294,1998
4,Arrhythmia,Multivariate,Classification,279,452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,525,75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,50,400,50,2020
619,Maternal Health Risk Data Set,,Classification,7,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,16,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,2,4000,2,2021